[Unit]
Description=Simple Retweets bot
After=multi-user.target

[Service]
# Base settings
Type=simple
User=simplerts
Group=simplerts
WorkingDirectory=/home/simplerts/Simple-Retweets
Environment="SCRIPT_ARGS=info.json"
ExecStart=/home/simplerts/Simple-Retweets/simple-retweets $SCRIPT_ARGS
StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty3
TTYReset=yes

# Limit damage in case something goes awry
MemoryLimit=256M
CPUQuota=200%

[Install]
WantedBy=multi-user.target